<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings>
 <add name="apptest1" connectionString="Data Source=.\SQLExpress;Initial Catalog=atmsproject28;Integrated Security=True"/>
 <add name="apptest2" connectionString="Data Source=.\SQLExpress;Initial Catalog=atmsproject28;UID=sa;PWD=thanhthinhgh1"/>
</connectionStrings>
</configuration>

